* { margin: 0;
    padding: 0;
}

* {
    user-select: none;
}

body {font-family: 'Luckiest Guy';
    color: white;
}

h1 { text-align: center;
    font-size: 28px;
}

p { text-align: center;
    font-size: 14px;
    font-family: 'Roboto';
    color: white;
}

h2 { text-align: center;
    font-size: 14px;
    color: black;
    font-family: 'Roboto';
}

h3 { text-align: center;
        font-size: 14px;
        color: black;
    }


#budgetcounter {
    font-size: 18px;
    text-align: center;
}

#counter {
    font-size: 18px;
    text-align: center;
}

#price {
    font-size: 18px;
    text-align: center;
}


#doener {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

img {
    height: 100%;
    width: 100%;
}

.doener_img {
height: 150px;
width: 150px;
border-radius: 50%;
animation: shadow-pulse 1s infinite;
}

#item, #item2, #item3, #item4 {
    height: 120px;
    width: 120px;
    float: left;
    margin: 10px;
}

.locked {
    height: 120px;
    width: 120px;
    float: left;
    margin: 10px;
}

.hidden {
    display: none;
    position: absolute;
}

body {
    background-color: lightskyblue;
}

.abstand {
    margin-top: 20px;
}


.center {
        justify-content: center;
        width: 100%;
}

.flex {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom:30px;
    right: 10px;
    left: 10px;
    z-index: 200;
}

.flex2 {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom:30px;
    right: 10px;
    left: 10px;
    z-index: -100;
}


.background_board {
    background: url(../img/board.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 400px;
    height: 291px;
    margin: 0 auto;
}

.inner_padding {
    padding: 25px;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.wrapper
{ 
  padding: 20px;     
} 

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

#stopwatch {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 900;
    font-size: 2rem;
}

#gameover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: red;
    z-index: 1000;
}