* { margin: 0;
    padding: 0;
}

body {font-family: 'Luckiest Guy';
}

h1 { text-align: center;
    font-size: 28px;
}

#budgetcounter {
    font-size: 18px;
    text-align: center;
}

#counter {
    font-size: 18px;
    text-align: center;
}


#doener {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

img {
    height: 100%;
    width: 100%;
}

.doener_img {
height: 200px;
width: 200px;
}

#item, #item2, #item3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

#item {
    background-color: red !important;
}

#item2 {
    background-color: green !important;
}

#item3 {
    background-color: orange !important;
}

.hidden {
    display: none;    
}

body {
    background-color: lightskyblue;
}

.abstand {
    margin-top: 20px;
}

.center {
    margin: 0 auto;
}

.flex {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom:0;
}